.bt_new {
    background: #FB8F15;
    color: #ffffff;
    padding: 4px 30px;
    border: 0px;
    border-radius: 4px;
}
.pager-wrap {
    display: inline-block;
}
.pager_custom {
    justify-content: center;
}
.bt_direct button:hover {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    color: #0056b3;
    overflow: hidden;
}
.button_wrap {
    margin-bottom: 5px;
}
.bt_direct button:hover {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    color: #0056b3;
    overflow: hidden;
}
.bt_direct button {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    background: #ffffff;
    color: #868484;
    padding: 3px 20px;
}
.content_roll {
    overflow-x: auto;
}
.justify-between {
    justify-content: space-between;
}
.table th, td {
    text-align: center;
}
.btn-danger{
    background-color:  #96000c;
    border-color: #96000c;
}

.btn-search {
    width: 100%;
    display: inline-grid;
}

.sty-search {
    background-color: #96000C;
    color: #fff;
}

.sty-search:hover {
    background-color: #96000C;
    color: #fff;
}
