.app_title{
    background: #C9C9C9;
    color: #000000;
    padding:5px 0px;
    text-align: center;
    border-bottom: 1px solid #D3D3D3;
}
.card-app{
    border-radius: 0px;
    box-shadow: none;

}
.app_info{
    text-align: center;
    border: 1px solid #CDCDCD;
    border-bottom: 0px;
    background:#ffffff;
    padding:5px 0px;
}
.last_item{
    border: 1px solid #CDCDCD;
}
.card_preview{
    padding:20px 0px;
}
.bt_preview{
    padding:4px 0px;
    border:1px solid #6C6C6C;
    border-radius: 5px;
    background: #EBEBEB;

}
.bt_preview:hover{
    background: #C9C9C9;
}
.wrap_comment{
    padding:40px 0px;
}
.comment_title{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.bt_border{
    padding:4px 0px;
    border:1px solid #6C6C6C;
    border-radius: 5px;
    margin-right: 35px;
    margin-bottom: 20px;
    width: 120px;
    color: #232323;
}
.bt_border:hover{color: #ffffff;}
.comment_area{
    border:1px solid #3D3D3D;
}
