.main-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.main-header-text {
    font-weight: 600;
}

.btn-outline-dark {
    background-color: #96000C;
    color: #fff;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
}

.form-check-inline {
    margin-right: 2rem;
}

.btn-custom {
    margin-right: 30px;
    min-width: 130px;
}

.leave-application .form-group, .business-trip-application .form-group {
    margin-bottom: 0;
}

.leave-application .row, .business-trip-application .row {
    align-items: center;
}

.input-custom {
    display: inline;
    width: 50%;
}

.input-custom-2 {
    display: inline;
    width: 30%;
}

hr.line-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px dotted rgba(0,0,0,.1);
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #96000C;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child{
    background-color: gray;
    color: #fff;
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .prev{
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .prev:hover{
    background-color: gray;
    color: #fff;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .picker-switch{
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .picker-switch:hover{
    background-color: gray;
    color: #fff;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .next{
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child .next:hover{
    background-color: gray;
    color: #fff;
}

.bootstrap-datetimepicker-widget {
    border-bottom: 2px solid white;
}

.bootstrap-datetimepicker-widget table thead tr{
    border-bottom: 2px solid white;
}
.bootstrap-datetimepicker-widget table tr{
    border-bottom: 2px solid white;
}

.bootstrap-datetimepicker-widget table td.old {
    visibility: hidden;
}

.bootstrap-datetimepicker-widget table td.new {
    visibility: hidden;
}


input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
}
input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #96000c;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
    box-shadow: inset 0 0 0 3px white;
}

input[type='checkbox']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 5px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: blue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
    box-shadow: inset 0 0 0 3px white;
}