.main-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.main-header-text {
    font-weight: 600;
}

.btn-outline-dark {
    background-color: #96000C;
    color: #fff;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
}

.form-check-inline {
    margin-right: 2rem;
}

.btn-custom {
    margin-right: 30px;
    min-width: 130px;
}

.leave-application .form-group, .business-trip-application .form-group {
    margin-bottom: 0;
}

.leave-application .row, .business-trip-application .row {
    align-items: center;
}

.input-custom {
    display: inline;
    width: 50%;
}

.input-custom-2 {
    display: inline;
    width: 30%;
}

hr.line-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px dotted rgba(0,0,0,.1);
}

.btn-apply {
    background: darkgray;
    color: #000;
    font-weight: 600;
}

.btn-apply:hover {
    background: #96000c;
    color: #fff;
}

.btn-draft {
    background: darkgray;
    color: #000;
    font-weight: 600;
}

.btn-draft:hover {
    background: #96000c;
    color: #fff;
}

.btn-cancel {
    background: darkgray;
    color: #000;
    font-weight: 600;
}

.btn-cancel:hover {
    background: #96000c;
    color: #fff;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius:4px;
    margin-top: 7px;
}
.custom-file-attach{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius:4px;
}

@media (max-width: 320px) {
    .btn-apply {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .btn-draft {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .btn-cancel {
        display: block;
        margin: 0 auto;
    }
}

/* @media (min-width: 992px) {
    .btn-apply {
        display: block;
        margin: 0 auto;
    }
    .btn-draft {
        display: block;
        margin: 0 auto;
    }
    .btn-cancel {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .btn-apply {
        display: block;
        margin: 0 auto;
    }
    .btn-draft {
        display: block;
        margin: 0 auto;
    }
    .btn-cancel {
        display: block;
        margin: 0 auto;
    }
} */
