.bt_new {
    background: #FB8F15;
    color: #ffffff;
    padding: 4px 30px;
    border: 0px;
    border-radius: 4px;
}
.pager-wrap {
    display: inline-block;
}
.pager_custom {
    justify-content: center;
}
.bt_direct button:hover {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    color: #0056b3;
    overflow: hidden;
}
.button_wrap {
    margin-bottom: 5px;
}
.bt_direct button:hover {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    color: #0056b3;
    overflow: hidden;
}
.bt_direct button {
    border: 1px solid #E3E6E9;
    border-radius: 20px;
    background: #ffffff;
    color: #868484;
    padding: 3px 20px;
}
.content_roll {
    overflow-x: scroll;
}
.justify-between {
    justify-content: space-between;
}
.table th, td {
    text-align: center;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #96000C;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.bootstrap-datetimepicker-widget table thead:first-child tr:first-child{
    background-color: gray;
    color: #fff;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    visibility: hidden;
}
input[type='radio']{
    margin-right: 5px;
}
input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
}
input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #96000c;
    color: rebeccapurple;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
    box-shadow: inset 0 0 0 3px white;
}
.btn-danger{
    background-color:  #96000c;
    border-color: #96000c;
}